@using Data_Access_Layer.Entities
@using LNU_Test_Portal.ViewModels
@model CourseStudentViewModel
@{
    ViewData["Title"] = "Add Student";
    Layout = "_Layout";
    List<ApplicationUser> userss = new List<ApplicationUser>();
}

<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="CreateCourseForm card"  style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center text-white mb-4">Add Students</h2>

                        <form method="post" asp-controller="Course" asp-action="AddStudents">
                            @Html.AntiForgeryToken()
                           @* <input type="hidden" asp-for="id" />*@
                            
                            
                            @foreach(var item in Model.AvailableStudents)
                            {
                                <div>
                                @Html.HiddenFor(x=>item.Id)
                                @Html.CheckBoxFor(p=>item.IsCheked)
                                @Html.DisplayFor(t=>item.Title)

                                    @if (item.IsCheked = true)
                                    {
                                        
                                    }
                                </div>

                            }
                                
                                
                                     
                                
                            @{
                               @* TempData["NewStudents"] = Model.AvailableStudents;*@
                            }
                           


                            <div class="d-flex justify-content-end">
                                <a class="CancelButton text-white" asp-area="" asp-controller="Course" asp-action="GetAllCourses">Cancel</a>
                                <input type="submit" class="SaveCourseButton btn text-white" name="save" value="Save" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
