@model LNU_Test_Portal.Models.Course;
@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";

}

<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="CreateCourseForm card"  style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center text-white mb-4">Create course</h2>

                        <form method="post" asp-controller="Course" asp-action="Create">
                            @Html.AntiForgeryToken()
                            <div class="form-outline mb-4">
                                <label class="form-label text-white" for="form3Example1cg">Course Name</label>
                                <input type="text" id="form3Example1cg" class="form-control form-control-lg" asp-for="name" />

                            </div>

                            <div class="form-group">
                                <label class="form-label text-white" for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" asp-for="description"></textarea>
                            </div>

                            <div class="d-flex justify-content-end">
                                <a class="CancelButton text-white" asp-area="" asp-controller="Course" asp-action="Index">Cancel</a>
                                <input type="submit" class="SaveCourseButton btn text-white" name="save" value="Save" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
