@using Data_Access_Layer.Entities
@using LNU_Test_Portal.ViewModels
@using Microsoft.AspNet.Identity
@model CourseStudentViewModel;
@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";

}

<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="CreateCourseForm card"  style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center text-white mb-4">Create course</h2>

                        <form method="post" asp-controller="Course" asp-action="Edit">
                            @Html.AntiForgeryToken()
                            <input asp-for="id" hidden>
                            <div class="form-outline mb-4">
                                <label class="form-label text-white" for="form3Example1cg">Course Name</label>
                                <input type="text" id="form3Example1cg" class="form-control form-control-lg" asp-for="name" />

                            </div>

                            <div class="form-group">
                                <label class="form-label text-white" for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" asp-for="description"></textarea>
                            </div>

                             <div class="form-group">
                                <label class="form-label text-white" for="exampleFormControlTextarea1">Students</label>
                                @for(int i=0;i<Model.AvailableStudents.Count();i++)
                                {
                                    <div>
                                    @Html.HiddenFor(x=>Model.AvailableStudents[i].Id)
                                    @Html.CheckBoxFor(x=>Model.AvailableStudents[i].IsCheked, new { style="width:18px;height:18px;vertical-align: middle;" })
                                    <label class="form-label text-white" for="exampleFormControlTextarea1">@Model.AvailableStudents[i].Title</label>
                                    </div>
                                }
                            </div>




                            <div class="d-flex justify-content-end">
                                <a class="CancelButton text-white" asp-area="" asp-controller="Course" asp-action="GetAllCourses">Cancel</a>
                                <input type="submit" class="SaveCourseButton btn text-white" name="save" value="Save" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
