@{
    ViewData["Title"] = "Confirm Email";
    Layout = "_Layout-3";
   
}

<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="LogInForm card"  style="border-radius: 15px;">
                    <div class="card-body p-5">
                    
                    <h3>Thank you for confirming your email .
                Your register as a Student.If you are teacher write to us <a>svatoslavkondera@gmail.com</a>.Now ,please click <a asp-action="Login">here to login</a></h3>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>